@media only screen and (max-width: 300px) {
    .grid {
        background-color:#06C;
    }
}

#container{
	background:url(sprites.gif) 0 0;
	width: 46px;
	height: 44px;
	margin-top: 50px;
}

#container:hover{
	background:url(sprites.gif) 0px -45px;
	width: 46px;
	height: 44px;
	margin-top: 50px;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

body {
  font: 400 45px/0.5 'Courgette', Helvetica, sans-serif;
}
 
div {
  font: 400 14px/1.5 'Average', Times, serif;
}

/*
.grid{
	width:100%;
	background: #F00;
	float:left;
	padding: 10px;
}
.grid:after{
	clear:both;
	content:"after grid";
	display: table;
}

.col-2-3{
	width:66.66%;
	background: #060;
}

.col-1-3{
	width:33.33%;
	background-color: #006;
}

[class *=col]{
	float: left;
}
*/